body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.baloo {
  font-family: 'Baloo Tamma 2', cursive;
}
.rounded-img{
  border-radius:32px;
}
.logo{
  width:111px;
  height:40px;
}
.darkgrey{
    color:#636057;
}
.bg-hover-primary:hover{
    background-color: #FF785E;
    color:#fff;
}
.bg-hover-secondary:hover{
    background-color: #FFDF65;
    border-color: #FFDF65;
    color:#858377;
}
.bg-hover-secondary:hover > i{
    color: #FF785E;
}
.nav-link.active{
    font-weight: bold;
    border-bottom: 2px solid #FFDF65;
}
.sticky-top{
  position:sticky;
  top:0;
  z-index:99;
}
.icon-circle{
  display: block;
  width:30px;
  height:30px;
}
.project:before,
.project:after {
  content: "";
  position: absolute;
  top: 80%;
  background: #FFDF65;
  width: calc(60% - 130px);
  height:3px;
}
.project:before {
  left: 0%; 
}
.project:after {
  right: 0%;
}

#mobilebtn{
  position: fixed;
  bottom: 0;
  right: 0;
  left:0;
  display: none;
}